extends ../layout
block content
  meta(http-equiv='refresh', content='3;url=http://127.0.0.1:3000/ap2/fe')
  body
    h1 Fehlzeit hinzufügen
    a Sie werden in 3 Sekunden weitergeleitet
    a #{Meldung}

