doctype html
html
  head
    title= title


    link(rel='stylesheet', href='/stylesheets/menu.css')

    link(rel='stylesheet', href='/stylesheets/employeeSelection.css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/models/employees.js')
    script(src='/models/stamps.js')

  body
    block header

      .header
        .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
          a.pure-menu-heading.menuItem(href='/') Home
          a.pure-menu-heading(href='/stamps') Zeitstempel
          a.pure-menu-heading(href='') Tagesübersicht
          a.pure-menu-heading(href='') Stundenübersicht
          li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
            a.pure-menu-heading.pure-menu-link(href='#') Mitarbeiterverwaltung
            ul.pure-menu-children
              li.pure-menu-item
                a.pure-menu-link(href='#') Mitarbeiter
              li.pure-menu-item
                a.dropdownItem.pure-menu-link(href='#') Anwesenheitsliste
              li.pure-menu-item
                a.pure-menu-link(href='/stamps/admin') Zeitstempel
              li.pure-menu-item
                a.pure-menu-link(href='/ap2/maSuchen') Fehlzeiten
              li.pure-menu-item
                a.pure-menu-link(href='#') Kernzeiten



          ul.pure-menu-list
            li.pure-menu-item.pure-menu-selected
            li.pure-menu-item.nomargin
              if (user)
                p.nomargin
                  | #{user.first_name + " " + user.last_name}
                  br
                  | #{"MaNr: " + user.employee_no}
            li.pure-menu-item
              a#logoutButton.pure-menu-link.nomargin(href='/auth/logout', title='Logout') Logout

    block content


